html, body {
    background-image: linear-gradient(to right,#032101, black, #032401);
    color: lime;
    width: 100vw;
    height: 100%;
    margin: 0;
    @media only screen and (max-width: 600px) {
      background-image: linear-gradient(to right,#021801, black, #021801);
  }
}

