.map-page {
    background-color: rgba(0, 0, 0, 0.801);
}

.dark-map-page {
    background-color: black;
}

.locked-point {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid lime;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    cursor: pointer;    
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0);
}


.dark-locked-point {
    /* @extend .locked-point; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid lime;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    cursor: pointer;    
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0);
    /* @extend .locked-point; */
    opacity: 0.04;
    background-color: white;
}


.unlocked-point {
    /* @extend .locked-point; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid lime;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    cursor: pointer;    
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0);
    /* @extend .locked-point; */
    border: none;
    background-color: lime;
    opacity: 1;
    transform: rotate(-135deg);
    z-index: 402;
}

    
.dark-unlocked-point {
    /* @extend .unlocked-point; */
    /* @extend .locked-point; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid lime;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    cursor: pointer;    
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0);
    /* @extend .locked-point; */
    border: none;
    background-color: lime;
    opacity: 1;
    transform: rotate(-135deg);
    z-index: 402;
    /* @extend .unlocked-point; */
    background-color: white;
    border-radius: 100px;
    box-shadow: 0px 0px 15px 8px rgba(98, 176, 255, 0.768);
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: right;
}

.close-btn {
    cursor: pointer;
}

.map-point {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaflet-container {
    height: 94vh;
    background-color: transparent !important;
}

.blackout {
    width: 200vw;
    height: 200vh;
    background-color: black;
}

.none {
    display: none;
}

.lightBtnOn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 0;
    margin: 13px;
    z-index: 1;
    padding: 3px;
    border-radius: 50px;
    background-color: black;
    border: 2px solid lime;
}
.lightBtnCircleOn {
    width: 10.8px;
    height: 100%;
    background-color: lime;
    border-radius: 50px;
}
.lightBtnOff {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 0;
    margin: 13px;
    z-index: 1;
    padding: 3px;
    border-radius: 50px;
    background-color: lime;
    border: 2px solid black;
}
.lightBtnCircleOff {
    width: 10.8px;
    height: 100%;
    background-color: black;
    border-radius: 50px;
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: rgb(0, 255, 0);;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    font-weight:600;
    color: black;
}