.messages-page {
    width: 100vw;
    height: 94vh;
    display: flex;
    align-items: center;
    padding: 50px;
    padding-bottom: 19px;
    padding-top: 0;
}

.messages-preview {
    height: 100%;
    width: 30vw;
    border: 2px solid rgba(0,255,0,0.2);
    border-radius: 40px 0 0 40px;
    overflow-y: auto;
    @media only screen and (max-width: 715px) {
        display: none;
    }
}

.view-messages-preview {
    height: 100%;
    width: 30vw;
    border: 2px solid rgba(0,255,0,0.2);
    border-radius: 40px 0 0 40px;
    overflow-y: auto;
    @media only screen and (max-width: 715px) {
        width: 100%;
        border-radius: 40px;
    }
}

.current-message {
    font-size: 1.6em;
    text-align: justify;
    padding: 30px;
    height: 100%;
    width: 70vw;
    border: 2px solid rgba(0,255,0,0.2);
    border-radius: 0 40px 40px 0;
    border-left: none;
    line-height: 30px;
    overflow-y: auto;
    @media only screen and (max-width: 715px) {
        display: none;
    }
}

.view-current-message {
    font-size: 1.6em;
    text-align: justify;
    padding: 30px;
    height: 100%;
    width: 70vw;
    border: 2px solid rgba(0,255,0,0.2);
    border-radius: 0 40px 40px 0;
    border-left: none;
    line-height: 30px;
    overflow-y: auto;
    @media only screen and (max-width: 715px) {
        width: 100%;
        border-radius: 40px;;
        border-left: 2px solid rgba(0,255,0,0.2);
        padding: 20px;
    }
}

.message {
    font-size: 1.6em;
    width: 100%;
    padding: 30px;
    height: 70px;
    border-bottom: 2px solid rgba(0,255,0,0.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.diviser {
    width: 100%;
    backdrop-filter: blur(100px);
    background-color: rgba(0,255,0,0.2);
    height: 1.5px;
    margin-bottom: 10px;
    @media only screen and (min-width: 715px) {
        display: none;
    }
}

.return {
    cursor: pointer;
    @media only screen and (min-width: 715px) {
        display: none;
    }
}
.return::before {
    content: '<<< voltar';
}
.mobile-icon {
    margin-left: 10px;
    @media only screen and (min-width: 715px) {
        display: none;
    }

}
.mobile-icon::before {
    content: '>>';
}

.mobile-icon::before {
    content: '>>';
}


::-webkit-scrollbar{
    width: 0px;
}
.intercepted-message {
    display: block;
    padding: 10px;
    margin: 0px 10%;
    text-align: left;
    border: 2px solid lime;
    height: fit-content;
}
.sign-img {
    margin-left: calc(100% - 100px);
    margin-bottom: -8px;
    width: 100px;
    line-height: 30px;
    align-self: right;
}
.message-img {
    width: 90px;
    outline: 2px solid lime;
    float: left;
    margin: 0px 10px 0 0;

}

.dossie-img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-right: 4px solid lime;
}
.dossie {
    display: flex;
    flex-direction: column;
    
    @media only screen and (max-width: 715px) {
        justify-content: center;
        align-items: center;
    }
}
.dossie-content { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    @media only screen and (max-width: 715px) {
        flex-direction: column;
    }

}

.dossie-title {
    width: 100%;
    background-color: lime;
    color: black;
}

.dossie-title-center {
    width: 100%;
    background-color: lime;
    color: black;
    text-align: center;
}

.dossie-header {
    width: 100%;
    border: 5px solid lime;
    @media only screen and (min-width: 510px) {
        display: flex;
    }
}

.dossie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lead123 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
.circle123 {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: lime;
    color: black;
    border-radius: 30px;
    margin-right: 140px;
    margin-bottom: 10px;
}

.grid123 {
    width: fit-content;
}


.box123 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    border: 1px solid lime;
}

.box123top {
    border-top: 4px solid lime;
}

.highlight {
    background-color: lime;
    color: black
}

.mask {
    width: 100%;
}
